// Colors
// ---------

$primary: #2ee600;
$primary-darker: #23ae00;
$primary-lighter: #48ff1a;
$primary-highlight: #2ee600;

$secondary: #ddd;
$secondary-lighter: #eee;
$secondary-darker: #6d6d6d;

$black: #000;
$gray: #ddd;
$white: #fff;

$cyan: #00ffe1;

// Radii
$border-radius: 0.5rem;
